html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  color:black;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  background-color: #bacbc1;
 }

a{
  color: #262626;
  text-decoration: none;
}

.lsimg{
width: 100%;
height: 600px;
margin-right: 200px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}

.kufiza{
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-left: 5%;
  height: 600px;
  margin-top: 100px;
  text-align: center;
  border-radius: 10px;
  background-color: #e9e8e4;
  margin-bottom: 100px;
}
.errors{
  height:20x;
  width:450px;
  color:red;
  background-color: rgb(247, 203, 203);
  margin-left:25px;
}


.center{
width: 500px;
background:#e9e8e4;
border-radius: 10px;
margin-left: 100px;
margin-top: 50px;
}

#logincenter{
  margin-top:90px;
}
.center h1{
text-align: center;
color:#13765b;
padding: 20px 0;
border-bottom: 1px solid silver;
}
.center form{
padding: 0 40px;
box-sizing: border-box;
}
form .txt_field{
position: relative;
border-bottom: 2px solid #adadad;
margin: 30px 0;
}
.txt_field input{
width: 100%;
padding: 0 5px;
height: 40px;
font-size: 16px;
border: none;
background: none;
outline: none;
}
.txt_field label{
position: absolute;
top: 50%;
left: 5px;
color: #adadad;
transform: translateY(-50%);
font-size: 16px;
pointer-events: none;
transition: .5s;
}
.txt_field span::before{
content: '';
position: absolute;
top: 40px;
left: 0;
width: 0%;
height: 2px;
background:#13765b;
transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
top: -5px;
color: #13765b;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
width: 100%;
}
input[type="submit"]{
width: 100%;
height: 50px;
border: 1px solid;
background:#e9e8e4;
font-size: 18px;
border:3px solid #13765b;
color: #13765b;
font-weight: 700;
cursor: pointer;
outline: none;
transition: all 0.5s;
}
input[type="submit"]:hover{
background-color:#13765b;
color:white;
}
.signup_link{
margin: 30px 0;
text-align: center;
font-size: 16px;
color: #666666;
}
.signup_link a{
color: #13765b;
text-decoration: none;
}
.signup_link a:hover{
text-decoration: underline;
}

@media screen and (max-width: 768px) {
 
  .lsimg{
  width: 100%;
  height: auto;
  margin-right: 0;
  }
  .kufiza{
  flex-direction: column-reverse;
  height: auto;
  margin-top: 170px;
  }
  .center{
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  }
  }