html, body{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    color:black;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    background-color: #bacbc1;
}
  
a{
    color: #262626;
    text-decoration: none;
}

.aboutUs{
    background-color: #e9e8e4;
    width: 83%;
    margin-left: 5%;
    height: 500px;
    margin-top: 100px;
    text-align: center;
    border-radius: 10px;
    padding: 50px 50px;
    margin-bottom: 100px;
}


.aboutUs2{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 520px;
    text-align: center;
    border-radius: 10px;
    background-color: #e9e8e4;
}

.aboutUs2Txt{
    width: 90%;
    margin: 0px 17px;
    font-size: 20px;
    text-align: center;
}
.img{
    width: 100%;
    height: 500px;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 10px;
    
}


@media only screen and (max-width: 768px) {
   
    .aboutUs {
        width: 85%;
        margin-left: 2.5%;
        padding: 30px 30px;
        height: auto;
        margin-top: 170px;
    }


.aboutUs2{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    text-align: center;
    border-radius: 10px;
    background-color: #e9e8e4;
}



.aboutUs2Txt{
    width: 100%;
        margin: 0px;
        font-size: 16px;
        padding-bottom: 20px;
}

.img{
    width: 100%;
    height: auto;
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 0px;
    padding-top: 20px;
}
}