html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
 
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    background-color: white;
}
 
a{
    color: #262626;
    text-decoration: none;
}

 
#header1 ul{
    list-style:none;
    display:flex;
    align-items: center;
}
 
#img1{
    width: 3.5cm;
    height: 1.25cm;
    padding-right: 5.1cm;
}
#header1{
    align-items:center;
    justify-content:space-between;
    height:1.7cm;
    width:100%;
    font-size:17.5px;
    display:flex;
    flex-direction:initial;
    background-color: #f3f3ec;
    position:absolute;
}
#header1 ul li{
    color: #13765b;
    margin-left:32.5px;
    padding: 5px;
}

#header1 a{
    color: #13765b;
}
#head2 ul li{
    margin-right: 50px;
}

.nav ul li a:hover{
    color: rgba(19, 117, 58, 0.911);
    transition: .5s;
}

.hovernav {
    display: inline-block;
    position: relative;
    color: rgba(19, 117, 58, 0.911);
}

.hovernav:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(19, 117, 58, 0.911);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

.hovernav:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#all{
    display: flex;
    flex-direction: row;
    padding-top:100px;
    height: 95cm;
    width:90%;
    border-radius: 60px;
    justify-content: space-between;
    
}

#kategorite ul{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    width: 150px;
    height: 200px;
    align-items: flex-start;
    list-style: none;
    margin-left: 20px;
    
}

#kategorite ul li{
    padding-top: 0.5cm;
    width:150px;

}

.divv{
	font-size: 16px;
	text-transform: capitalize;
	color: #f3f3ec;
	text-decoration: none;
	font-weight: 300;
	color: #f3f3ec;
	display: block;
	transition: all 0.3s ease;
}

.divv:hover{
	color: #f3f3ec;
	padding-left: 8px;
}

.rreshti{
    align-items: center;
    height: 10cm;
    font-size: 6.5px;
    display: flex;
    flex-direction: row;
    margin-top: 1cm;
    margin-bottom: 3cm;
}

.p{
    height: 9cm;
    width: 7.5cm;
    margin: 0.5cm;
    font-size: 15px;
    text-align: center;
}

.k{
    height: 7.5cm;
    width: 7.5cm;
}

.blej{
        margin:10px;
        margin-left: auto;
        width: 7.5cm;
        height:40px;
        border:0px;
        background-color:white;
        border: 3px solid #7caf9c;
        font-size:larger;
        transition: all 0.5s;
        cursor: pointer;
        color: #7caf9c;
}
.blej:hover{
    background-color: #7caf9c;
    color:white;
}
.pershkrimi{
    height:70px;
    width:7.5cm;
}

.zbritja{
    text-decoration: line-through;
    color: gray;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container{
	max-width: 100%;
	margin:auto;
    margin-left: 230px;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.footer-col ul{
	list-style: none;
    margin: 0px;
    padding: 0px;
    color: #f3f3ec;
}
.footer{
	background-color: #13765b;
    padding: 70px 0;
    height: 5cm;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}

#contact{
    margin-right: 70px;
}

#socials{
    margin-left: 70px;
}
.footer-col h4{
	font-size: 18px;
	color: #f3f3ec;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #0b5d47;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #f3f3ec;
	text-decoration: none;
	font-weight: 300;
	color: #f3f3ec;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #f3f3ec;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #f3f3ec;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #f3f3ec;
	background-color: #f3f3ec;
}