html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    color:black;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    background-color: #bacbc1;
}
 
 a{
    color: #262626;
    text-decoration: none;
}/*

 
#header1 ul{
    list-style:none;
    display:flex;
    align-items: center;
}
 
#img1{
    width: 3.5cm;
    height: 1.25cm;
    padding-right: 8.0cm;
}
#header1{
    align-items:center;
    justify-content:space-between;
    height:1.7cm;
    width:100%;
    font-size:17.5px;
    display:flex;
    flex-direction:initial;
    background-color: #f3f3ec;
    position:absolute;
}
#header1 ul li{
    color: #13765b;
    margin-left:32.5px;
    padding: 5px;
}

#header1 a{
    color: #13765b;
}
#head2 ul li{
    margin-right: 50px;
}

.nav ul li a:hover{
    color: rgba(19, 117, 58, 0.911);
    transition: .5s;
}

.hovernav {
    display: inline-block;
    position: relative;
    color: rgba(19, 117, 58, 0.911);
}

.hovernav:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(19, 117, 58, 0.911);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

.hovernav:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
} */


#banner{
    background-image: linear-gradient(#0b5d47,#13765b );
    height: 1cm;
    text-align: center;
    margin-top: 1.7cm;
    color: #f3f3ec;
    padding-top:5px;
}

h3{
    margin:0px;
}

#fotoPare{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 17cm;
    background-color: #e7e6e2;
    color: white;
}

#teksti{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 17cm;
    align-items: center;
    margin-left: 40px;
    font-size: 21px;
    padding-top: 6cm;
    color:#13765b;
}
#teksti p{
    font-size:37px;
}


#foto{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 17cm;
    margin-left: 77px;
}

 #btn1{
    margin:0px;
    margin-left: auto;
    width: 5cm;
    height:50px;
    border:0px;
    background-color:#e7e6e2;
    border: 3px solid #13765b;
    font-size:larger;
    transition: all 0.5s;
    cursor: pointer;
    color:#13765b;
}

#btn1 span {
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
  }
  
#btn1 span:after {
    content: '\00bb';
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
#btn1:hover span {
    padding-right: 25px;
  }
  
#btn1:hover span:after {
    opacity: 1;
    right: 0;
  }

#slideshow{
    width: 70%;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin:50px 15%;
  }
  
.katrorat{
    height:500px;
    width:100%;
    background-color: #bacbc1;
    justify-content: center;
    align-items: center;
  }
  
.wr{
    align-items:center;
    justify-content:space-around;
    height:13cm;
    padding:10px;
    display:flex;
    flex-direction:initial;
    background-color: #f3f3ec;
}
#rec{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    align-items: center;
    background-color: #f3f3ec;
    padding-top: 50px;
    font-size: 20px;
    color:#13765b; 
}
.divs{
    height: 10cm;
    width: 7.5cm;
    transition: transform .2s;
}

.divs:hover{
    transform: scale(1.2);
    cursor:pointer;
}

.tekstet{
    text-align: center;
    font-size: 15px;
}

.r{
    height: 7.5cm;
    width: 7.5cm;
}

#btn2{
    margin:0px;
    margin-left: auto;
    width: 10cm;
    height:50px;
    border:0px;
    background-color:#e7e6e2;
    border: 3px solid #13765b;
    font-size:larger;
    transition: all 0.5s;
    cursor: pointer;
    color:#13765b;
}

#btn2 span {
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
  }
  
#btn2 span:after {
    content: '\00bb';
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
#btn2:hover span {
    padding-right: 25px;
  }
  
#btn2:hover span:after {
    opacity: 1;
    right: 0;
  }
#fotoFundit{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
    height: 620px;
    margin-top: 5%;
    text-align: center;
    border-radius: 10px;
    background-color: #e9e8e4;
    margin-bottom: 100px;
}

#fotoFunditTxt{
    width: 60%;
    margin: 30px 20px;
    padding: 25px;
    font-size: 20px;
    text-align: center;
}

#img{
    width: 100%;
    height: 620px;
    margin-right: 200px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

@media only screen and (max-width: 844px) {
    /* hide the navigation menu */
    #header1 ul {
      display: none;
    }
    /* display the toggle button */
    .navbar-toggle {
      display: block;
    }
    /* style the toggle button */
    .navbar-toggle span {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px;
      background-color: #13765b;
    }
  
  
  /* show the navigation menu when toggle button is clicked */
  .navbar-toggle.active + #head1 ul {
    display: flex;
    flex-direction: column;
    background-color: #f3f3ec;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  /* style the navigation menu for small screens */
  #head1 ul li {
    margin: 5px;
  }
  
  /* style the active toggle button */
  .navbar-toggle.active span {
    transform: rotate(45deg);
    background-color: #13765b;
  }
  
  /* restyle the header for small screens */
  #header1 {
    height: auto;
    padding: 10px;
    position: relative;
  }
  
  #img1{
    width: 3.5cm;
    height: 1.25cm;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
}
/* 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.container{
	max-width: 100%;
	margin:auto;
    margin-left: 230px;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.footer-col ul{
	list-style: none;
    margin: 0px;
    padding: 0px;
    color: #f3f3ec;
}
.footer{
	background-color: #13765b;
    padding: 70px 0;
    height: 5cm;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}

#contact{
    margin-right: 70px;
}

#socials{
    margin-left: 70px;
}
.footer-col h4{
	font-size: 18px;
	color: #f3f3ec;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #0b5d47;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #f3f3ec;
	text-decoration: none;
	font-weight: 300;
	color: #f3f3ec;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #f3f3ec;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #f3f3ec;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #f3f3ec;
	background-color: #f3f3ec;
} */