html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
 
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color:black;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
}
 
a{
    color: #262626;
    text-decoration: none;
}

 
#header1 ul{
    list-style:none;
    display:flex;
    align-items: center;
}
 
#img1{
    width: 3.5cm;
    height: 1.25cm;
    padding-right: 5.1cm;
}
#header1{
    align-items:center;
    justify-content:space-between;
    height:1.7cm;
    width:100%;
    /* padding:10px; */
    /* e heka qet padding */
    font-size:17.5px;
    display:flex;
    flex-direction:initial;
    background-color: #f3f3ec;
    position:absolute;
}
#header1 ul li{
    color: #13765b;
    margin-left:32.5px;
    padding: 5px;
}

#header1 ul li:hover{
    text-decoration: underline;
}
#header1 a{
    color: #13765b;
}
#head2 ul li{
    margin-right: 50px;
}

#banner{
    background-image: linear-gradient(#0b5d47,#13765b );
    /* background-color: #13765b; */
    height: 1cm;
    text-align: center;
    /* padding-bottom: 10px; */
    margin-top: 1.7cm;
    color: #f3f3ec;
    padding-top:5px;
}

h3{
     margin:0px;
}

#fotoPare{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 17cm;
    background-color: #bacbc1;
    color: white;
}

#teksti{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 17cm;
    align-items: flex-start;
    margin-left: 40px;
    font-size: 21px;
    padding-top: 6cm;
    color: #f3f3ec;
}
#teksti p{
    font-size:37px;
}


#foto{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 17cm;
}

/* #foto{
    background-repeat: no-repeat;
    background-image: url("images/foto.png");
    height: 40cm;
    width: 100%;
    background-size: 100% 100%;
} */

/* main{
    background-color: #f3f3ec;
} */
 #btn1{
    margin:0px;
    margin-left: auto;
    width: 5cm;
    height:50px;
    border:0px;
    background-color:#c6dad1;
    border-radius: 50px;
    font-size:larger;
    transition: all 0.5s;
    cursor: pointer;
    color: #f3f3ec;
}

#btn1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
#btn1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
#btn1:hover span {
    padding-right: 25px;
  }
  
#btn1:hover span:after {
    opacity: 1;
    right: 0;
  }

#slideshow{
    width: 70%;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin:50px 15%;
  }
  
  .katrorat{
    height:500px;
    width:100%;
    background-color: #7caf9c;
    justify-content: center;
    align-items: center;
  }
  

  
/* .katrorat{
    align-items:center;
    justify-content:space-around;
    height:17.5cm;
    padding:10px;
    font-size:10px;
    display:flex;
    flex-direction:initial;
    background-color:#bacbc1 ;
    text-align: center;
    /* margin-top: 250px; */
*/

/* #ing:hover{
    transform: scale(1.2);
}

#form:hover{
    transform: scale(1.2);
}

#exp:hover{
    transform: scale(1.2);
}

#ing{
    background-color: #144234;
    height: 7.5cm;
    width: 7.5cm;
    padding:0.5cm;
    border-radius: 1.5ch;
    box-shadow: 6px 6px 1px 0.5px gray;
} */

#form{
    background-color: #6d2e16;
    height: 7.5cm;
    width: 7.5cm;
    padding:0.5cm;
    border-radius: 1.5ch;
    box-shadow: 6px 6px 1px 0.5px gray;
}

#exp{
    background-color: #939c8a;
    height: 7.5cm;
    width: 7.5cm;
    padding:0.5cm;
    border-radius: 1.5ch;
    box-shadow: 6px 6px 1px 0.5px gray;
}

#f2{
    height: 24cm;
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#f2 img{
    width: 100%;
}


.wr{
    align-items:center;
    justify-content:space-around;
    height:15cm;
    padding:10px;
    display:flex;
    flex-direction:initial;
    background-color: #f3f3ec;
}
#rec{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    align-items: center;
    background-color: #f3f3ec;
    padding-top: 50px;
    font-size: 20px;
    color: #13765b; 
}

.divs{
    height: 10cm;
    width: 7.5cm;
    transition: transform .2s;
}

.divs:hover{
    transform: scale(1.2);
    cursor:pointer;
    /* box-shadow:10px 10px 10px #262626; */
}

.tekstet{
    text-align: center;
    font-size: 15px;
}

#r1{
    height: 7.5cm;
    width: 7.5cm;
}


#r2{
    height: 7.5cm;
    width: 7.5cm;
}

#r3{
    height: 7.5cm;
    width: 7.5cm;
}

#r4{
    height: 7.5cm;
    width: 7.5cm;
}


/* footer{
    align-items:center;
    justify-content:space-between;
    background-color: #bacbc1;
    font-size: 35px;
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    height: 10cm;
}


#paragrafi{
    width: 30cm;
    height: 8cm;
    margin-top: 2cm;
    margin-left: 5cm;
    display: flex;
    flex-direction: column;
}

#kontaktet{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#kontaktet ul{
    width: 30cm;
    height: 8cm;
    margin-top: 2cm;
    display: flex;
    flex-direction: column;    
} */

#all{
    display: flex;
    flex-direction: row;
    margin-top: 2cm;
    padding-top:50px;
    height: 55cm;
    width:90%;
    border-radius: 60px;
    justify-content: space-around;
    margin-left: 80px;
}


#kategorite ul{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    width: 10px;
    height: 50cm;
    align-items: flex-start;
    list-style: none;
}


#kategorite ul li{
    padding-top: 0.5cm;

}
.divv{
    width:200px;
}
.divv :hover{
    color:gray;
}


.rreshti{
    justify-content: space-around;
    align-items: center;
    height: 10cm;
    font-size: 6.5px;
    display: flex;
    flex-direction: row;
}

.p{
    height: 9cm;
    width: 7.5cm;
    margin: 0.5cm;
    font-size: 15px;
    text-align: center;
}

#k1{
    height: 7.5cm;
    width: 7.5cm;
}
#k2{
    height: 7.5cm;
    width: 7.5cm;
}
#k3{
    height: 7.5cm;
    width: 7.5cm;
}
#k4{
    height: 7.5cm;
    width: 7.5cm;
}
#k5{
    height: 7.5cm;
    width: 7.5cm;
}
#k6{
    height: 7.5cm;
    width: 7.5cm;
}
#k7{
    height: 7.5cm;
    width: 7.5cm;
}
#k8{
    height: 7.5cm;
    width: 7.5cm;
}
#k9{
    height:7.5cm;
    width: 7.5cm;
}
#k10{
    height: 7.5cm;
    width: 7.5cm;
}
#k11{
    height: 7.5cm;
    width: 7.5cm;
}
#k12{
    height: 7.5cm;
    width: 7.5cm;
}
#k13{
    height: 7.5cm;
    width: 7.5cm;
}
#k14{
    height: 7.5cm;
    width: 7.5cm;
}
#k15{
    height: 7.5cm;
    width: 7.5cm;
}

#aboutUs{
    background-image: url("../images/about.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 22cm;
}

.aboutus{
    margin:0cm 7.5cm;
    font-size: 20px;
}

#persh{
    padding-top: 10cm;
    color: #7caf9c;
}

#tung {
    color: #7caf9c;
} 






.box{
    margin:auto;
    padding-left: 250px;
    margin-top: 50px;
    background-color: azure;
    height: 15.5cm;
    width: 15.5cm;
}
 #label{
    padding: 15.5px;
    padding-left: 57.5px;
    font-size: 22.5px;
}
 .full-input {
    margin-top: 11px;
    height:25px;
    width:7.5cm;
    border: 0px;
    background-color: #ebf0fc;
    border-radius: 50px;
    color:#7f7f7f
  }
input {
    margin-left:17px;
    outline: none;
    border: none;
    line-height: 0.5em;
    width: 4cm;
    font-size: 6pt;
    background-color: #ebf0fc ;
  }
  .form-wrapper label {
    display: block;
    font-size: 8.5px;
    margin-left: 8.5px;
    color: #767f87;
  }
  #btn2{
    margin:11px;
    margin-left: auto;
    width: 7.5cm;
    height:25px;
    border:0px;
    background-color:#f9c3f2;
    border-radius: 50px;
    font-size:larger;
    color: #ebf0fc;
  }


/* .container{
    max-width: 1150px;
    margin:auto;
    margin-left: 400px;
}
.row{
    display: flex;
    flex-wrap: wrap; 

}
ul{
    list-style: none;
    align-items: flex-start;
}
.footer{
    margin-top: 600px;
    background-color: #24262b;
    padding: 70px 0;
    height: 5cm;
    width: 100%;
}
.footer-col{
   width: 50%;
   padding: 0 15px;
   justify-content: space-between;
}

#comp{
    align-items: left;
}

#c{
    align-items: center;
}

#f{
    align-items: right;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 70px;
    font-weight: 1000;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: lightskyblue;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
.cnt{
    color:#bbbbbb;
} */
/* footer{
    align-items:center;
    justify-content:space-between;
    background-color: #bacbc1;
    font-size: 35px;
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    height: 10cm;
}


#paragrafi{
    width: 30cm;
    height: 8cm;
    margin-top: 2cm;
    margin-left: 5cm;
    display: flex;
    flex-direction: column;
}

#kontaktet{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#kontaktet ul{
    width: 30cm;
    height: 8cm;
    margin-top: 2cm;
    display: flex;
    flex-direction: column;    
} */